.container{
    height: 80vh;
    width: 80vw;
    background-color: antiquewhite;
    position: relative;
}
.ball{
background-color: red;
height: 100px;
width: 100px;
border-radius: 70px;
position: absolute;
left: 0;
bottom: 0;
animation: animatex 3s linear 1s infinite, animatey 2s ease-out 1s infinite alternate;
}


@keyframes animatex {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes animatey {
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}