* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-image: url(/images/background.jpg);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
}
.box {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.516);
}
nav {
  position: absolute;
  top: 0;
  display: flex;
  width: 80vw;
  margin-left: 123px;
  margin-right: 123px;
  align-items: center;
  justify-content: space-between;

  padding: 24px 48px;
}
.logo img {
  height: 40px;
  width: 148px;
}
.right {
  display: flex;
  gap: 20px;
}
.lang-btn {
  border: 0.7px solid white;
  padding: 4px 36px;
  color: white;
}
.Sign-in {
  background-color: red;
  border-radius: 5px;
  padding: 5px 18px;
  align-self: center;
  color: white;
}

.right {
  margin-right: 23px;
}
.hero {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  row-gap: 16px;
  
}
.hero h1 {
  color: white;
}
.hero .heading{
    font-size: 3rem;
    font-weight: 900;
    
}
.hero .sub-heading{
    font-size: 1.5rem;
    font-weight: 400;
    
}
.hero .sub-sub-heading{
    font-size: 1.25rem;
    font-weight: 400;

}
    
.subscription{
    display: flex;
}
    .main-btn {
        background-color: red;
        padding: 10px 27px;
        margin-left: 5px;
        font-size: 1.4rem;
        display: flex;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    .subscription input {
        border: 1px solid #ffffff75;
        padding: 1.5rem 1rem 1.2rem;
        background-color: #ffffff00;
        width: 375px;
        font-weight: 200;
    }
    .subscription input::placeholder{
        color:rgb(255, 255, 255);
        opacity: 0.7;
        align-self: center;
    }
    .seperation{
        width: 100%;
        height: 10px;
        background-color: #242323;
    }
 .section-2{
    background-color: black;
    height: 80vh;
}
 
.section-2-container {
    display: flex;
    /* justify-content: space-around; */
    width: 80vw;
    margin: auto;
}
.section-2-left .heading{
    font-size: 48px;
    color: white;
    font-weight: 900;
}
.section-2-left .sub-heading {
    font-size: 24px;
    color: white;
    font-weight: 400;
    margin-left: 60px;
}
.section-2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 569px;
}
.section-2-right {
    position: relative;
    /* top: 0; */
    
}
.section-2-right img {
    position: relative;
    z-index: 10;
}



.section-2-right video {
    position: absolute;
    right: 76px;
    top: 97px;
}